@use "../abstract/mixins" as c;

.header {
  position: relative;
  margin-bottom: 7.5rem;

  @include c.respond(tab-port) {
    max-width: 55rem;
    margin-inline: auto;
  }

  @include c.respond(tab-land) {
    background: linear-gradient(270deg, transparent 68.75%, var(--primaryColor) 31.25%);
    margin-bottom: 11.25rem;

    @include c.mainContainer;
  }

  &__images {
    img {
      object-fit: cover;
      width: 100%;
      max-height: 300px;

      @include c.respond(tab-port) {
        max-height: 100%;
      }
    }

    @include c.respond(tab-port) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    @include c.respond(tab-land) {
      left: 375px;
    }

    @include c.respond(desktop) {
      left: 450px;
    }
  }

  &__description {
    display: grid;
    gap: 2rem;

    padding: 2rem 1rem 0 1rem;
    max-width: 35rem;

    @include c.respond(tab-port) {
      padding: 9.0625rem 2.5rem 9.0625rem 0;
      margin-left: auto;
      gap: 3rem;
      max-width: 24rem;
    }

    @include c.respond(tab-land) {
      grid-template-columns: max-content 350px;
      grid-template-areas:
        "title description"
        "title button";
      gap: 4rem 0;
      justify-content: space-between;
      padding: 11.875rem 0 19.625rem 0;
      max-width: 21.25rem;

      @include c.mainContent;
      h1 {
        grid-area: title;
        mix-blend-mode: difference;
        color: var(--whiteColor);
      }

      p {
        grid-area: description;
      }

      a {
        grid-area: button;
        grid-column-start: 2;
      }
    }
  }
}
